@model MoviesFilterVM

<h2> All Movies</h2>

<div id="tableExample3" data-list='{"valueNames":["Id","Name","Price","Image","Categories","Cinemas","Actors","Action"],"page":@Model.TotalPages,"pagination":true}'>
    @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
    {
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/Movie/Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create</a>
        </div>
    }
    <div class="row justify-content-end g-0">
        <div class="col-auto col-sm-5 mb-3">
            <form>
                <div class="input-group">
                    <input class="form-control form-control-sm shadow-none search" type="search" name="Query" value="@Model.Query" placeholder="Search..." aria-label="search" />
                    <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span></div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive scrollbar">
        <table class="table table-bordered table-striped fs--1 mb-0">
            <thead class="bg-200 text-900">
                <tr>
                    <th class="sort" data-sort="Id">Id</th>
                    <th class="sort" data-sort="Name">Name</th>
                    <th class="sort" data-sort="Price">Price</th>
                    <th data-sort="Image">Image</th>

                    <th data-sort="Categories">Categories</th>
                    <th data-sort="Cinemas">Cinemas</th>
                    <th data-sort="Actors">Actors</th>

                    <th data-sort="Action">Action</th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model.Movies ?? new List<Movie>())
                {
                    <tr>
                        <td class="Id">@item.Id</td>
                        <td class="Name">@item.Name</td>
                        <td>@item.Price</td>

                        <td>
                            <img src="~/images/movies/@item.MainImg" width="100" />
                        </td>
                        <td>
                            @if (item.MovieCategories != null)
                            {
                                foreach (var cat in item.MovieCategories)
                                {
                                    if (cat.Category != null)
                                    {
                                        <span>@cat.Category.Name</span>
                                        <br />
                                    }
                                }
                            }   
                        </td>
                        <td>
                            @if (item.MovieCinemas != null)
                            {
                                foreach (var cinema in item.MovieCinemas)
                                {
                                    if (cinema.Cinema != null)
                                    {
                                        <span>@cinema.Cinema.Name</span>
                                        <br />
                                    }
                                }
                            }
                        </td>
                        <td>
                            @if (item.MovieActors != null)
                            {
                                foreach (var actor in item.MovieActors)
                                {
                                    if (actor.Actor != null)
                                    {
                                        <span>@actor.Actor.Name</span>
                                        <br />
                                    }
                                }
                            }
                        </td>
                        <td class="Action">
                            @if (User.IsInRole(SD.SUPER_ADMIN_ROLE) || User.IsInRole(SD.ADMIN_ROLE))
                            {
                                <a href="/Admin/Movie/Update/@item.Id" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a href="/Admin/Movie/Delete/@item.Id" class="btn btn-danger btn-delete"><i class="bi bi-trash"></i> Delete</a>
                            }
                            else
                            {
                                <span>No Action</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" href="/Admin/movie/Index?page=@(Model.CurrentPage - 1)&query=@Model.Query">Previous</a></li>
                }
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    @if (i == Model.CurrentPage)
                    {
                        <li class="page-item active"><a class="page-link" href="/Admin/movie/Index?page=@i&query=@Model.Query">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/movie/Index?page=@i&query=@Model.Query">@i</a></li>
                    }
                }
                @if (Model.CurrentPage != Model.TotalPages)
                {
                    <li class="page-item"><a class="page-link" href="/Admin/movie/Index?page=@(Model.CurrentPage + 1)&query=@Model.Query">Next</a></li>
                }
            </ul>
        </nav>
    </div>
</div>
@section Scripts {
    <partial name="_NotificationPartial" />
}